body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em 0;
}

form {
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:  black;/* 默认背景色透明 */
    color: white; /* 文字颜色为黑色 */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

button:hover {
    background-color:blue;/* 鼠标悬停时背景色变为黑色 */
    color:  white; /* 文字颜色变为白色 */
}

#result {
    padding: 20px;
    text-align: center;
}

.tab-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    margin-bottom: 5px;
    background-color: black; 
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.tab-button {
    background-color: transparent; /* 默认背景色透明 */
    color: white; /* 文字颜色为白色 */
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.tab-button.active {
    /*background-color: #111;  激活状态背景色 */
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.footer{ 
padding:10px 0; 
border-top:1px solid #ddd; 
text-indent:20px; 
color:#666;
}